
.about-me {
    width: 80%;
    margin: 50px auto;
    padding: 0px;
}


.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}


.about-left {
    width: 50%;
}

.about-left h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #61CE70;
    margin-right: 30px;
    font-family: Raleway;
}

.about-left h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-left p {
    font-size: 18px;
    line-height: 1.6;
}


.about-right {
    width: 40%;
    margin-top: 30px;
}

.about-right blockquote {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #C2C2C2;
    margin-bottom: 15px;
    border-left: 4px solid #000;
    padding-left: 15px;
}

.about-right p {
    font-size: 18px;
    line-height: 1.6;
}


@media (max-width: 1024px) {
    .about-me {
        width: 90%;
    }

    .about-content {
        flex-direction: column;
        gap: 30px;
    }

    .about-left,
    .about-right {
        width: 100%;
        text-align: center;
    }

    .about-left h2,
    .about-left h3 {
        text-align: center;
    }

    .about-right blockquote {
        text-align: center;
        border-left: none;
        padding-left: 0;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .about-me {
        width: 95%;
        margin: 30px auto;
    }

    .about-left h2 {
        font-size: 18px;
    }

    .about-left h3 {
        font-size: 20px;
    }

    .about-left p,
    .about-right p {
        font-size: 16px;
        line-height: 1.4;
    }

    .about-right blockquote {
        font-size: 14px;
        padding-left: 0;
    }
}
