
.typing-text {
    font-size: 50px;
    font-weight: 200;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    border-right: 3px solid black; 
    animation: blinkCursor 0.8s infinite;
    color: #61CE70;
    margin-bottom: 20px;
}


@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.Profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding: 20px; 
    padding-top: 50px; 
}


.profile-text {
    width: 50%;
}

.profile-text p {
    font-size: 14px;
    line-height: 32px;
    width: 120%; 
    text-align: left;
    font-weight: 400;
    font-family: Raleway;
    
}

.profile-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.resume {
    display: inline-block;
    padding: 12px 40px;  
    border-radius: 10px;  
    
    cursor: pointer;
    color: white;
    background-color: #61CE70; 
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    font-family: Roboto;

}


.profile-image {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

.profile-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    
    animation: slideIn 1s ease-out forwards;
}

