
body.light {
  background-color: white;
  color: black;
}


body.dark {
  background-color: #121212;
  color: white;
}


.theme-toggle.light {
  color: black;
}

.theme-toggle.dark {
  color: white;
}

body.light, body.light * {
  color: black;
}

body.dark, body.dark * {
  color: white;
}
